n8n/workflows/chat-to-avatar.json
{
  "name": "Chat to Avatar Video (With LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $input.item.json.body.message || $input.item.json.message;\nconst language = $input.item.json.body.language || 'English';\nconst systemPrompt = $input.item.json.body.system_prompt || `You are a helpful AI assistant. Respond naturally and concisely in ${language}.`;\n\nreturn {\n  user_message: userMessage,\n  language: language,\n  system_prompt: systemPrompt,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "process-chat-input",
      "name": "Process Chat Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "message": "={{ $json.system_prompt }}"
            },
            {
              "role": "user",
              "message": "={{ $json.user_message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 200
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credentials",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response text\nconst aiResponse = $input.item.json.choices[0].message.content;\nconst language = $('Process Chat Input').item.json.language;\n\nreturn {\n  response: aiResponse,\n  language: language,\n  text_for_avatar: aiResponse\n};"
      },
      "id": "extract-response",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.response, language: $json.language } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Process Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Chat Input": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["chat", "llm", "avatar"],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T00:00:00.000Z",
  "versionId": "2"
}
