n8n/workflows/text-to-avatar.json
{
  "name": "Text to Avatar Video",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-avatar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract text from webhook payload\nconst inputText = $input.item.json.body.text || $input.item.json.text;\nconst voice = $input.item.json.body.voice || 'default';\nconst duration = $input.item.json.body.duration || 30;\n\nreturn {\n  text: inputText,\n  voice: voice,\n  duration: duration,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "process-input",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://longcat-avatar:8000/generate",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice",
              "value": "={{ $json.voice }}"
            },
            {
              "name": "duration",
              "value": "={{ $json.duration }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-longcat-api",
      "name": "Call LongCat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Call LongCat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LongCat API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
